body {
    transition: all 2s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    height: 80vh;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-page {
    transition: all 2s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
}

#btnSelector {
    transition: all 2s;
    background-color: darkslategray;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 0 solid transparent;
    font-weight: bold;
}

footer {
    transition: all 2s;
    width: 100%;
	background-color: darkslategray;
	padding: 16px;
	color: white;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

footer.dark-mode {
    color: darkslategray;
    background-color: azure;
}

#btnSelector.dark-mode {
    color: darkslategray;
    background-color: azure;
}

#title-page.dark-mode {
    color: azure;
}

body.dark-mode {
    background-color: darkslategray;
}
